h4 {
    margin-top: 0;
}
input {
    flex: 1;
}

.modal-body {
    position: absolute;
    padding: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    background: white;
    border: 3px solid #000;
}
.edit-row {
    display: flex;
    flex-direction: row;
}

.cancel-button {
    margin-left: 0.5em;
    padding: 5px 15px;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}
