body {
  margin-top: 1em;
  padding: 0 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  font-size: 22px;
}
input {
  border-radius: 3px;
  border: 1px solid black;
  padding: 0.5em;
}

.add-button {
  margin-left: 10px;
  padding: 5px 15px;
  color: white;
  background: #1990ff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.add-button:disabled {
  background: gray;
}
.todo-item-button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.todo-item-button:disabled {
  filter: grayscale(0.9);
}

.todo-item {
  margin: 1em 0;
  padding: 0 1em;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.todo-item-text {
  flex: 1;
  text-align: left;
  cursor: pointer;
}

.item-done {
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
}

